.faq--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark-grey);
}

.faq--title {
  color: white;
  font-size: 38px;
  padding: 40px 0px;
  border-radius: 20px;
  margin: 40px;
  width: 90%;
  text-align: center;
  background-color: var(--red);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faq--contact {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 40px;
}

.faq--contact--us {
  color: white;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid var(--red);
  transition: color 200ms ease-in-out;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faq--contact--us:hover {
  color: var(--red);
  transition: color 200ms ease-in-out;
}

@media only screen and (max-width: 960px) {
  .faq--title {
    font-size: 32px;
  }
  .faq--contact {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .faq--title {
    font-size: 28px;
  }

  .faq--contact {
    font-size: 16px;
  }
}
