.forgot--password {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot--password--container {
  width: 400px;
  height: 400px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

input {
  display: block;
  font-size: 20px;
  margin: 20px;
}

.forgot--password--button {
  font-size: 20px;
}
