.faq--card--container {
  width: 850px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: var(--black);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.faq--card--top--section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px;
  margin: 1px;
  cursor: pointer;
  transition: background-color 800ms, outline 400ms;
}

.faq--card--top--section.open {
  background-color: var(--red);
  transition: background-color 800ms, outline 400ms;
}

.faq--card--top--section:hover {
  outline: 1px solid white;
  transition: background-color 800ms, outline 400ms;
  box-sizing: border-box;
}

.faq--card--title {
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faq--card--title.open {
  color: white;
}

.fa-solid.fa-square-minus,
.fa-solid.fa-square-plus {
  font-size: 22px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.fa-solid.fa-square-minus {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.faq--card--text {
  font-size: 18px;
  padding: 20px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 960px) {
  .faq--card--container {
    width: 650px;
  }

  .faq--card--title {
    font-size: 18px;
  }

  .fa-solid.fa-square-minus,
  .fa-solid.fa-square-plus {
    font-size: 18px;
  }
  .faq--card--text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .faq--card--container {
    width: 500px;
  }

  .faq--card--title {
    font-size: 16px;
  }

  .fa-solid.fa-square-minus,
  .fa-solid.fa-square-plus {
    font-size: 16px;
  }
  .faq--card--text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .faq--card--container {
    width: 400px;
  }
}

@media only screen and (max-width: 420px) {
  .faq--card--container {
    width: 380px;
  }
}
