.faq--card--container {
  width: 850px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: var(--black);
  overflow: hidden;
}

.faq--card--top--section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 800ms, border 400ms;
}

.faq--card--top--section.open {
  background-color: var(--red);
  transition: background-color 800ms, border 400ms;
}

.faq--card--top--section:hover {
  border: 1px solid white;
  transition: background-color 800ms, border 400ms;
}

.faq--card--title {
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faq--card--title.open {
  color: white;
}

.fa-solid.fa-square-minus,
.fa-solid.fa-square-plus {
  font-size: 22px;
  color: white;
}

.fa-solid.fa-square-minus {
  color: white;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.faq--card--text {
  font-size: 18px;
  padding: 20px;
  color: white;
}
