.ourdogs--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid var(--red);
}
.ourdogs--top--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--dark-grey);
  padding-top: 20px;
  margin-bottom: 40px;
  border-radius: 0 0 30% 30%;
  border-bottom: 3px solid var(--red);
}
.ourdogs--title--container {
  position: relative;
  z-index: 0;
}

.ourdogs--title {
  color: white;
  font-size: 36px;
  display: inline-block;
}

.ourdogs--title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 110%;
  transform: translateX(-50%);
  height: 10px;
  background-color: var(--red);
  z-index: -1;
  opacity: 0.5;
}

.ourdogs--subtitle {
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 0px 20px;
  margin-top: 6px;
  margin-bottom: 20px;
}

.ourdogs--dogs--container {
  background-color: var(--dark-grey);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

.custom-shape-divider-top-1679542913 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1679542913 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.custom-shape-divider-top-1679542913 .shape-fill {
  fill: #3f4950;
}

@media only screen and (max-width: 960px) {
  .ourdogs--title {
    font-size: 32px;
  }
  .ourdogs--subtitle {
    font-size: 18px;
  }
  .ourdogs--dogs--container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .ourdogs--title {
    font-size: 28px;
  }
  .ourdogs--subtitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 420px) {
  .ourdogs--dogs--container {
    padding: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .ourdogs--dogs--container {
    padding: 4px 0px;
  }
}
