.contactus--overall--container {
  background-color: #2a3136;
  padding: 60px 20px;
}
.contactus--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.contactus--text--container > h1 {
  font-size: 62px;
  color: white;
}

.contactus--text--container > p {
  font-size: 20px;
  width: 220px;
  color: white;
  font-weight: 500;
  text-align: center;
  margin-left: 4px;
  border-left: 2px solid var(--red);
  padding-left: 10px;
}

.contactus--form {
  background-color: var(--black);
  padding: 40px;
  border-radius: 20px;
  display: flex;
}

.contactus--form--title {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.contactus--input--box,
.contactus--input--textarea {
  font-size: 14px;
  width: 440px;
  margin: 0;
  padding: 10px;
  margin: 20px 0px;
  background-color: transparent;
  border: 4px solid var(--light-grey);
  border-radius: 10px;
  color: white;
  font-weight: 500;
  transition: border 200ms ease-in-out;
}

.contactus--input--box:focus,
.contactus--input--textarea:focus {
  transition: border 200ms ease-in-out;
  outline: none;
  border: 4px solid var(--red);
}

.contactus--input--textarea {
  height: 10em;
  resize: none;
  text-align: left;
  display: block;
}

.contactus--button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 4px 12px;
  background-color: var(--red);
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  align-self: flex-end;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.contactus--button:hover {
  color: var(--red);
  box-shadow: inset 400px 0 0 0 white;
}

.contactus--button:active {
  transition: 0s;
  opacity: 0.5;
}

.contactus--validation--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
}
.contactus--validation {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.contactus--validation.success {
  color: green;
}

.contactus--validation.error {
  color: var(--red);
}

.fa-solid.fa-check {
  color: green;
  display: flex;
  align-self: center;
  font-size: 20px;
}

.fa-solid.fa-xmark {
  color: var(--red);
  display: flex;
  align-self: center;
  vertical-align: middle;
  font-size: 20px;
}

@media only screen and (max-width: 960px) {
  .contactus--text--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactus--container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-top: -20px;
  }

  .contactus--text--container > h1 {
    font-size: 32px;
    text-align: center;
    border-bottom: 4px solid var(--red);
    padding-bottom: 4px;
    margin-bottom: 10px;
  }

  .contactus--text--container > p {
    font-size: 18px;
    border-left: none;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .contactus--text--container > h1 {
    font-size: 30px;
  }

  .contactus--text--container > p {
    font-size: 16px;
    padding: 0px;
  }

  .contactus--form--title {
    font-size: 13px;
    color: white;
  }

  .contactus--input--box,
  .contactus--input--textarea {
    font-size: 11px;
    width: 400px;
    margin: 0;
    margin: 20px 0px;
    background-color: transparent;
    border: 4px solid var(--light-grey);
    border-radius: 10px;
    color: white;
    font-weight: 500;
  }

  .contactus--input--textarea {
    font-size: 11px;
    height: 10em;
    padding: 10px;
    resize: none;
    text-align: left;
    display: block;
  }

  .contactus--button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 480px) {
  .contactus--form > form,
  .contactus--form {
    width: 100%;
  }
  .contactus--input--box,
  .contactus--input--textarea {
    width: 100%;
  }
}
