.ourdogs--card--overall--container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourdogs--card--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 340px;
}

.ourdogs--card--info {
  width: 850px;
  height: 100%;
  background-color: var(--black);
  border-left: 14px solid var(--light-grey);
  display: flex;
  flex-direction: column;
  border-radius: 0px 20px 20px 0px;
}

.ourdogs--card--info--firstrow {
  border-bottom: 14px solid var(--light-grey);
}

.ourdogs--card--name {
  display: inline-block;
  position: relative;
  color: white;
  z-index: 0;
  width: auto;
  margin: 10px 0px;
  margin-left: 40px;
  font-size: 30px;
}

.ourdogs--card--name::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 102%;
  transform: translateX(-50%);
  height: 10px;
  background-color: var(--red);
  z-index: -1;
  opacity: 0.5;
}

.ourdogs--card--info--secondrow {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 52px;
  margin-top: 10px;
}

.ourdogs--card--dam--container {
  display: flex;
  flex-direction: column;
}

.ourdogs--card--dam--title,
.ourdogs--card--sire--title {
  display: inline;
  width: auto;
  color: white;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  z-index: 0;
}

.ourdogs--card--dam--title::after,
.ourdogs--card--sire--title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  width: 110%;
  transform: translateX(-50%);
  height: 8px;
  background-color: var(--red);
  z-index: -1;
  opacity: 0.5;
}

.ourdogs--card--secondrow--text > h2 {
  font-size: 14px;
  width: 50%;
  color: white;
  font-weight: 400;
  margin-top: 10px;
}

.ourdogs--card--secondrow--text {
  display: flex;
  margin: 0px 40px;
}

.ourdogs--card--info--thirdrow {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 40px;
  margin-top: 10px;
}

.ourdogs--card--info--thirdrow > h2 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  z-index: 0;
}

.ourdogs--card--info--thirdrow > h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  width: 110%;
  transform: translateX(-50%);
  height: 8px;
  background-color: var(--red);
  z-index: -1;
  opacity: 0.5;
}

.ourdogs--card--description {
  font-size: 14px;
  color: white;
  font-weight: 400;
  padding: 10px 40px;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

.ourdogs--card--image--container {
  width: 440px;
  height: 340px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
}

.ourdogs--card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.ourdogs--card--card--btn {
  background-color: var(--red);
  align-self: center;
  cursor: pointer;
  border: none;
  padding: 4px 12px;
  margin-left: 40px;
  margin-top: 5px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.ourdogs--card--card--btn:hover {
  color: var(--red);
  background-color: white;
  box-shadow: inset 0px 400px 0 0 white;
}

.ourdogs--card--card--btn:active {
  transition: 0s;
  opacity: 0.5;
}
