.ourdogs--card--overall--container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourdogs--card--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 380px;
  width: 1290px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.ourdogs--card--info {
  width: 60%;
  height: 100%;
  background-color: var(--black);
  border-left: 7px solid var(--light-grey);
  display: flex;
  flex-direction: column;
  border-radius: 0px 20px 20px 0px;
}

.ourdogs--card--desc--container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.ourdogs--card--info--firstrow {
  border-bottom: 7px solid var(--light-grey);
}

.ourdogs--card--name {
  display: inline-block;
  position: relative;
  color: white;
  z-index: 0;
  width: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 40px;
  font-size: 30px;
}

.ourdogs--card--subtitle {
  position: relative;
  color: white;
  z-index: 0;
  width: auto;
  margin-left: 40px;
  font-weight: 500;
  font-size: 15px;
  margin-top: -5px;
  margin-bottom: 6px;
}

.ourdogs--card--name::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 104%;
  transform: translateX(-50%);
  height: 10px;
  background-color: var(--red);
  z-index: -1;
  opacity: 0.5;
}

.ourdogs--card--info--secondrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 52px;
  margin-top: 10px;
}

.ourdogs--card--dam--container {
  display: flex;
  flex-direction: column;
}

.ourdogs--card--description--title,
.ourdogs--card--dam--title,
.ourdogs--card--sire--title {
  display: inline;
  width: auto;
  color: white;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  z-index: 0;
}

.ourdogs---card--dam,
.ourdogs---card--sire {
  font-size: 14px;
  width: 50%;
  color: white;
  font-weight: 400;
  margin-top: 4px;
}

.ourdogs---card--dam {
  padding-right: 10px;
}

.ourdogs--card--secondrow--text {
  display: flex;
  margin: 0px 40px;
}

.ourdogs--card--info--thirdrow {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 40px;
  margin-top: 8px;
}

.ourdogs--card--dam--title::after,
.ourdogs--card--sire--title::after,
.ourdogs--card--description--title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 110%;
  transform: translateX(-50%);
  height: 8px;
  background-color: var(--red);
  z-index: -1;
  opacity: 0.5;
}

.ourdogs--card--description {
  font-size: 14px;
  color: white;
  font-weight: 400;
  padding: 4px 40px;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

.ourdogs--card--image--container {
  width: 40%;
  height: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
}

.ourdogs--card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.ourdogs--card--card--btn {
  background-color: var(--red);
  cursor: pointer;
  border: none;
  padding: 4px 12px;
  margin-left: 40px;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.ourdogs--card--card--btn:hover {
  color: var(--red);
  background-color: white;
  box-shadow: inset 0px 400px 0 0 white;
}

.ourdogs--card--card--btn:active {
  transition: 0s;
  opacity: 0.5;
}

@media only screen and (max-width: 1450px) {
  .ourdogs--card--container {
    width: 1020px;
    height: 360px;
  }

  .ourdogs--card--image--container {
    width: 45%;
  }

  .ourdogs--card--info {
    width: 55%;
  }

  .ourdogs--card--name {
    font-size: 23px;
    margin-left: 30px;
    border-bottom: none;
  }

  .ourdogs--card--subtitle {
    margin-left: 30px;
  }

  .ourdogs--card--name::after {
    bottom: 5px;
  }

  .ourdogs--card--info--secondrow,
  .ourdogs--card--secondrow--text,
  .ourdogs--card--info--thirdrow {
    margin-left: 30px;
  }

  .ourdogs--card--description {
    padding-left: 30px;
  }
  .ourdogs--card--dam--title,
  .ourdogs--card--sire--title,
  .ourdogs--card--description--title {
    font-size: 18px;
  }

  .ourdogs--card--dam--title::after,
  .ourdogs--card--sire--title::after,
  .ourdogs--card--description--title::after {
    bottom: 4px;
    height: 7px;
  }

  .ourdogs--card--card--btn {
    font-size: 16px;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1150px) {
  .ourdogs--card--container {
    width: 860px;
    height: 300px;
  }
  .ourdogs--card--image--container {
    width: 44%;
  }
  .ourdogs--card--info {
    width: 56%;
  }
  .ourdogs--card--info--firstrow {
    border-bottom: 5px solid var(--light-grey);
  }

  .ourdogs--card--info {
    border-left: 5px solid var(--light-grey);
  }

  .ourdogs--card--name {
    font-size: 17px;
    margin-left: 30px;
  }

  .ourdogs--card--subtitle {
    font-size: 14px;
  }

  .ourdogs--card--name::after {
    bottom: 3px;
    height: 8px;
  }

  .ourdogs--card--dam--title,
  .ourdogs--card--sire--title,
  .ourdogs--card--description--title {
    font-size: 15px;
  }

  .ourdogs--card--dam--title::after,
  .ourdogs--card--sire--title::after,
  .ourdogs--card--description--title::after {
    bottom: 3px;
    height: 6px;
  }

  .ourdogs--card--secondrow--text > h2,
  .ourdogs--card--description {
    font-size: 12px;
  }

  .ourdogs--card--card--btn {
    font-size: 12px;
    margin-bottom: 14px;
  }
}

@media only screen and (max-width: 960px) {
  .ourdogs--card--container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 500px;
  }
  .ourdogs--card--info {
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
  }
  .ourdogs--card--image--container {
    height: 360px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }

  .ourdogs--card--image {
    border-radius: 20px 20px 0px 0px;
  }

  .ourdogs--card--info--firstrow {
    border-bottom: 4px solid var(--light-grey);
  }

  .ourdogs--card--name {
    font-size: 20px;
    margin-left: 30px;
  }

  .ourdogs--card--subtitle {
    font-size: 14px;
  }

  .ourdogs--card--info {
    border-left: none;
  }

  .ourdogs--card--name::after {
    bottom: 4px;
    height: 8px;
  }

  .ourdogs--card--dam--title,
  .ourdogs--card--sire--title,
  .ourdogs--card--description--title {
    font-size: 16px;
  }

  .ourdogs--card--dam--title::after,
  .ourdogs--card--sire--title::after,
  .ourdogs--card--description--title::after {
    bottom: 4px;
    height: 6px;
  }

  .ourdogs--card--secondrow--text > h2,
  .ourdogs--card--description {
    font-size: 13px;
  }

  .ourdogs--card--card--btn {
    font-size: 13px;
    margin-top: 14px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 598px) {
  .ourdogs--card--container {
    width: 400px;
  }

  .ourdogs--card--image--container {
    height: 300px;
  }

  .ourdogs--card--info--firstrow {
    border-bottom: 4px solid var(--light-grey);
  }

  .ourdogs--card--name {
    font-size: 16px;
    margin-left: 30px;
  }

  .ourdogs--card--subtitle {
    font-size: 13px;
  }

  .ourdogs--card--name::after {
    bottom: 3px;
    height: 8px;
  }

  .ourdogs--card--dam--title,
  .ourdogs--card--sire--title,
  .ourdogs--card--description--title {
    font-size: 14px;
  }

  .ourdogs--card--dam--title::after,
  .ourdogs--card--sire--title::after,
  .ourdogs--card--description--title::after {
    bottom: 3px;
    height: 6px;
  }

  .ourdogs--card--secondrow--text > h2,
  .ourdogs--card--description {
    font-size: 12px;
  }

  .ourdogs--card--card--btn {
    font-size: 12px;
  }
}
@media only screen and (max-width: 520px) {
  .ourdogs--card--container {
    width: 380px;
  }

  .ourdogs--card--image--container {
    height: 300px;
  }

  .ourdogs--card--info--firstrow {
    border-bottom: 4px solid var(--light-grey);
  }

  .ourdogs--card--name {
    font-size: 15px;
    margin-left: 30px;
  }

  .ourdogs--card--name::after {
    bottom: 3px;
    height: 8px;
  }

  .ourdogs--card--dam--title,
  .ourdogs--card--sire--title,
  .ourdogs--card--description--title {
    font-size: 13px;
  }

  .ourdogs--card--dam--title::after,
  .ourdogs--card--sire--title::after,
  .ourdogs--card--description--title::after {
    bottom: 3px;
    height: 6px;
  }

  .ourdogs--card--secondrow--text > h2,
  .ourdogs--card--description {
    font-size: 11px;
  }

  .ourdogs--card--card--btn {
    font-size: 11px;
  }
}

@media only screen and (max-width: 520px) {
  .ourdogs--card--container {
    width: 380px;
  }

  .ourdogs--card--image--container {
    height: 300px;
  }

  .ourdogs--card--info--firstrow {
    border-bottom: 4px solid var(--light-grey);
  }

  .ourdogs--card--name {
    font-size: 15px;
    margin-left: 30px;
  }

  .ourdogs--card--name::after {
    bottom: 3px;
    height: 8px;
  }

  .ourdogs--card--dam--title,
  .ourdogs--card--sire--title,
  .ourdogs--card--description--title {
    font-size: 13px;
  }

  .ourdogs--card--dam--title::after,
  .ourdogs--card--sire--title::after,
  .ourdogs--card--description--title::after {
    bottom: 3px;
    height: 6px;
  }

  .ourdogs--card--secondrow--text > h2,
  .ourdogs--card--description {
    font-size: 11px;
  }

  .ourdogs--card--card--btn {
    font-size: 11px;
  }
}

@media only screen and (max-width: 450px) {
  .ourdogs--card--container {
    margin: 10px;
  }
}
