.ourdogs--card--container {
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  border-radius: 0px 80px 80px 0px;
}

.ourdogs--card--image--container {
  width: 30vw;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
  border-radius: 20px;
}

.ourdogs--card--image {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
