.overall--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  width: 100%;
  padding: 60px 0px;
  border-radius: 0 0 80% 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.about--container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  max-width: 50%;
  padding-right: 120px;
  justify-content: center;
  margin-left: 160px;
}

.about--title {
  font-size: 60px;
  color: white;
}

.about--underline {
  height: 6px;
  background-color: var(--red);
  width: 300px;
  margin-bottom: 20px;
}

.about--text {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.about--image {
  object-fit: cover;
  width: 40vw;
  height: 650px;
  border-radius: 20px;
  margin-right: 120px;
  border: 10px solid var(--black);
}

@media only screen and (max-width: 960px) {
  .overall--container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .about--container {
    flex-direction: column;
    max-width: 100%;
    padding: 0px 0px;
    margin-left: 0;
    align-items: center;
  }

  .about--title {
    font-size: 40px;
  }

  .about--underline {
    width: 240px;
  }

  .about--text {
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0px 80px;
  }

  .about--image {
    object-fit: cover;
    width: 500px;
    height: 500px;
    align-self: center;
    border-radius: 20px;
    margin-right: 120px;
    border: 10px solid var(--black);
    align-self: center;
    border-radius: 20px;
    margin-right: 0px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .about--title {
    font-size: 34px;
    color: white;
  }

  .about--underline {
    width: 185px;
  }

  .about--text {
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 0px 80px;
  }

  .about--image {
    width: 400px;
    height: 400px;
  }
}
