.hero--container {
  height: 91.5vh;
  width: 100%;
  background-image: url("../../../../images/HomePage-dogs.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px #161a1d33;
}

.hero--image {
  width: 50%;
  min-width: 750px;
  object-fit: contain;
}

.hero--text {
  font-size: 24px;
  font-weight: 400;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: white;
}

.hero--box {
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 100px;
  padding: 4px 40px;
  border-radius: 10px;
  background-color: var(--red);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.icons--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.instagram--icon,
.facebook--icon {
  color: white;
  size: 30px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

.instagram--icon:hover,
.facebook--icon:hover {
  color: var(--red);
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.8));
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .hero--socials > p {
    font-size: 18px;
  }

  .hero--text {
    font-size: 18px;
  }

  .hero--image {
    min-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .hero--image {
    min-width: 480px;
  }
}
