.home--dogs--overall--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home--dogs--title {
  align-self: center;
  margin-top: 40px;
  font-size: 42px;
  color: white;
  border-bottom: 4px solid var(--red);
  padding-bottom: 10px;
}

.home--dogs--swiper--container {
  assign-self: center;
  margin: 40px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 60px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: var(--light-grey);
}

.slick-dots li button::before {
  color: white !important;
  font-size: 10px !important;
}

.slick-prev:before,
.slick-next:before {
  color: white !important;
  font-size: 30px !important;
  opacity: 1 !important;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: white !important;
  opacity: 1 !important;
}

.slick-prev:focus:before,
.slick-next:focus:before {
  color: white !important;
  opacity: 1 !important;
}

.home--dogs--swiper--container .slick-prev {
  margin-left: -10px;
}

.home--dogs--see--more {
  align-self: center;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 500;

  padding: 8px 16px;
  border-radius: 10px;
  color: white;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border: 1px solid white;
}

.home--dogs--see--more:hover {
  color: var(--black);
  background-color: white;
  box-shadow: inset 400px 0 0 0 white;
}

.home--dogs--see--more:active {
  transition: 0s;
  opacity: 0.5;
}

@media only screen and (max-width: 960px) {
  .home--dogs--title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .home--dogs--title {
    font-size: 34px;
  }
}
