.home--dogs--overall--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.home--dogs--title {
  align-self: center;
  margin-top: 40px;
  font-size: 46px;
  color: var(--black);
  border-bottom: 4px solid var(--red);
  padding-bottom: 10px;
}

.home--dogs--swiper--container {
  assign-self: center;
  margin: 40px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 60px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.slick-dots li button::before {
  color: var(--red) !important;
  font-size: 10px !important;
}

.slick-prev:before,
.slick-next:before {
  color: var(--red) !important;
  font-size: 30px !important;
  opacity: 0.8 !important;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: var(--red) !important;
  opacity: 0.8 !important;
}

.slick-prev:focus:before,
.slick-next:focus:before {
  color: var(--red) !important;
  opacity: 0.8 !important;
}

.home--dogs--swiper--container .slick-prev {
  margin-left: -10px;
}

@media only screen and (max-width: 960px) {
  .home--dogs--title {
    font-size: 44px;
  }
}

@media only screen and (max-width: 768px) {
  .home--dogs--title {
    font-size: 36px;
  }
}
