.dogcard--overall--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 380px;
  height: 480px;
  margin: 0 auto;
}

.dogcard--container {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
}

.dogcard--img--container {
  width: 100%;
  height: 65%;
}

.dogcard--img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.dogcard--text--container {
  position: relative;
  margin-top: -160px;
  padding: 20px 25px;
  width: 95%;
  border-radius: 10px;
  background-color: var(--black);
  margin-bottom: 20px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dogcard--title--container {
  display: flex;
  justify-content: space-between;
}

.dogcard--title {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.dogcard--subtitle {
  color: white;
  margin: 4px 0px;
  font-size: 16px;
  font-weight: 400;
}

.dogcard--text--line {
  height: 6px;
  width: 50%;
  margin: 6px 0px;
  background-color: var(--red);
}

.dogcard--text--about {
  color: white;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.dogcard--btn {
  background-color: var(--red);
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: none;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.dogcard--btn:hover {
  color: var(--red);
  background-color: white;
  box-shadow: inset 400px 0 0 0 white;
}

.dogcard--btn:active {
  transition: 0s;
  opacity: 0.5;
}

.fa-solid.fa-mars,
.fa-solid.fa-venus {
  font-size: 26px;
  color: var(--red);
}

@media only screen and (max-width: 1300px) {
  .dogcard--overall--container {
    width: 320px;
    height: 380px;
  }

  .dogcard--title {
    font-size: 16px;
  }

  .dogcard--text--container {
    height: 220px;
  }

  .dogcard--subtitle {
    font-size: 12px;
  }

  .dogcard--text--about {
    font-size: 12px;
  }

  .dogcard--btn {
    font-size: 14px;
  }
  .fa-solid.fa-mars {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .dogcard--overall--container {
    width: 300px;
    height: 360px;
  }

  .dogcard--text--container {
    height: 200px;
  }

  .dogcard--title {
    font-size: 15px;
  }

  .dogcard--subtitle {
    font-size: 12px;
  }

  .dogcard--text--about {
    font-size: 12px;
  }

  .dogcard--btn {
    font-size: 12px;
  }

  .fa-solid.fa-mars {
    font-size: 18px;
  }
}
