.home--testimonial--card--container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.home--testimonial--card--quotation {
  width: 50px;
  top: 0;
  margin-top: -20px;
  z-index: 3;
  position: absolute;
  opacity: 1;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 14px;
  box-shadow: inset 0px 0px 10px -10px rgba(0, 0, 0, 0.2);
}
.home--testimonial--card--quote {
  font-size: 16px;
}

.home--testimonial--card--author {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  color: var(--red);
}

@media only screen and (max-width: 960px) {
  .home--testimonial--card--container {
    width: 75%;
    align-self: center;
    margin-top: 30px;
  }
  .home--testimonial--card--quote {
    font-size: 14px;
  }

  .home--testimonial--card--author {
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--red);
  }
}

@media only screen and (max-width: 768px) {
  .home--testimonial--card--quote {
    font-size: 14px;
  }

  .home--testimonial--card--author {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--red);
  }
}
