* {
  margin: 0px;
}

.item--container {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  cursor: pointer;
}

.item--image {
  width: 20px;
  height: 20px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.item--title {
  cursor: pointer;
  background-color: white;
}
