.loaded--overall--container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaded--container {
  position: relative;
  z-index: 50;
  width: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaded--logo {
  width: 400px;
}

@media only screen and (max-width: 960px) {
  .loaded--logo {
    width: 300px;
  }
}
